:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  background-color: #240f36;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.color-picker-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
}

.color-wrapper{
    /* height: 50px; */
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-color: #242424;
    padding: 30px;
    border-radius: 20px;
    input{
        width: 100%;
        height: 40px
    }
}

button{
    background-color: indigo;
    outline: 0;
    border: 0;
}